@import "../func/responsive.scss";

@mixin ol_li_before($ol_ul_here, $nom_compteurok) {
  width: $ol_ul_here;
  margin-left: -$ol_ul_here;
  content: counter($nom_compteurok) "";
  counter-increment: $nom_compteurok;
  display: inline-block;
}


@mixin liste_appellation_description($listeAD-map, $fs-breakpoints: $breakpoints) {
width: 100%;
  @each $fs-breakpoint, $listeAD in $listeAD-map {
    @if $fs-breakpoint == null {
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @include respond-to($fs-breakpoint){
          @if type-of($listeAD) == "list"  {
            .appellation {width: nth($listeAD, 1); float: left; overflow-wrap: break-word;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;}
            .description {width: nth($listeAD, 2); float: left; overflow-wrap: break-word;}
        }
      }
    }
  }
}

//liste
//TOUJOURS SPECIFIER UNE CLASS SINON TOUS LES UL SAUTES
@mixin ul {list-style: none; }
@mixin ol {counter-reset: number; list-style-type: none; }
@mixin ul_li_before($ol_ul_here) {width: $ol_ul_here; margin-left: -$ol_ul_here;  content: "-"; display: inline-block;  }
@mixin ul_li_before_sansbullet($ol_ul_here) {width: $ol_ul_here; margin-left: -$ol_ul_here;  display: inline-block;  }


$largeur_du_glyph_fleche : 20px;

#pageinfos ol li, #pageinfos ul li{display: block;}
#pageinfos ul {@include ul;}
#pageinfos ul li::before {@include ul_li_before_sansbullet(20px)}

#pageinfos ul.social {@include ul; }
#pageinfos ul.social li{margin-left: 0; padding-right: 10px; float: left;}

#pageinfos .signe {width: 20px;  white-space: nowrap; display: inline-block;}

@mixin liste($marge_list){
  #pageinfos ol li, #pageinfos ul li {margin-left: $marge_list;}
  #pageinfos ol li::before {width: $marge_list; margin-left: -$marge_list;}
  #pageinfos .signe {width: $marge_list;}
  #pageinfos ul.services li:before {width: $marge_list; margin-left: -$marge_list;}

}
