@import "ASB/ASB.scss";

@import "ASB/custom/fds_typo_1.scss";
@import "ASB/custom/fds_typo_2.scss";
@import "ASB/custom/fds_typo_3.scss";
@import "ASB/custom/fds_couleurs.scss";
@import "ASB/custom/fds_grid.scss";
@import "ASB/custom/fds_liste.scss";

@import "ASB/custom/page_home.scss";
@import "ASB/custom/page_single.scss";
@import "ASB/custom/page_about.scss";


body{
  @include fds_typo_1;
  background-color: $couleur_fond;
}



.header nav {
  position: fixed;
  right: 0;
  width: 33.333%;
  z-index: 99999;
  @include respond-to(medium-screens){ padding: 0 $marge_medium 0 0;}
  @include respond-to(wide-screens){ padding: 0 $marge_large 0 0;}
  @include respond-to(small-screens)
  {padding: 0 $marge_small 0 $marge_small; width: 100%; position: relative;}
  li {
    display: inline;
    a {
    @include fds2_typo_2;
    color: $gris;
  }
  }
  li.active{
    a {color: $blue;}
  }
}

.presentation_page, .identite {
  width: 66.66%;
  height: $hauteur_entete;
  @include respond-to(small-screens)
  {width: 100%;}
}
.presentation_page {
  @include fds_typo_1;
  position: relative;
  text-align: center;
  @include responsive_padding($marge_small 10% 0 10%, $marge_medium 10% 0 10%, $marge_large 10% 0 10%);

  h1, h2 {
    font-weight: bold;
    display: inline;
    @include responsive_padding(0 $marge_small 0 0, 0 $marge_medium 0 0, 0 $marge_large 0 0);
  }
  p {
    text-align: center;
    display: inline;
  }
}

.identite{
  position: fixed;
  z-index: -1;
  a.logo {
    @include responsive_padding(0 0 $marge_small 0, 0 0 $marge_medium 0, 0 0 $marge_large 0);

    @include fds_typo_1;
    text-decoration: none;
    @include positionbottom_and_center;
  }
}



$fds1_liste_appellation_description: (
  //$largeur_appellation, $largeur_description
  null  : (40%, 40%),
  small : (40%, 40%),
  medium: (40%, 40%),
  large : (40%, 40%),
);

ul.liste_appellation_description {}
