@import "../ASB.scss";


// feuille de style typographique 2 : LIEN
@mixin fds2_typo_2 {
  @include lisibilite;
  @include fontsize($fds2_fontsizes);
  font-family: arial;
  text-decoration: none;
  color: $ASB_green;
  font-weight: normal;
  font-style: normal;
  &:hover {
    color: black;
    cursor: pointer
  }
}
@mixin fds2_typo_2_sanshover {
  @include lisibilite;
  @include fontsize($fds2_fontsizes);
  font-family: arial;
  text-decoration: none;
  color: $ASB_green;
  font-weight: normal;
  font-style: normal;
}

@mixin fds2_typo_2_blanc {
  @include lisibilite;
  @include fontsize($fds2_fontsizes);
  font-family: arial;
  text-decoration: none;
  color: $negatif_text !important;
  font-weight: normal;
  font-style: normal;
  &:hover {
    color: $couleur_texte;
  }
}
@mixin fds2_typo_2_blanc_link {
  &.active {
    &::before {background-color: $link_shop !important;}
  }
  @include lisibilite;
  @include fontsize($fds2_fontsizes);
  font-family: arial;
  text-decoration: none;
  color: $link_shop !important;
  font-weight: normal;
  font-style: normal;
  &:hover {
    color: $link_shop !important;
    &::before {
      background-color: $link_shop;
      border: 2px solid $link_shop;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    $size: 12px;
    @include Custom_responsive_from_a_list($fds2_cercle);
    background-color: $couleur_principale_bloc;
    border: 2px solid $link_shop;
    margin-left: $marge_small/2;
    margin-right: $marge_small/2;
    padding-left: $marge_small/2; padding-right: $marge_small/2;
  }
}


@mixin fds2_typo_2_couleur_link {
  &.active {
    &::before {background-color: $couleur_principale !important;}
    &:hover  {
      &::before {background-color: $hover !important;}
    }
  }
  @include lisibilite;
  @include fontsize($fds2_fontsizes);
  font-family: arial;
  text-decoration: none;
  color: $couleur_principale !important;
  font-weight: normal;
  font-style: normal;
  &:hover {
    color: $hover !important;
    &::before {
      background-color: $hover;
      border: 2px solid $hover;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    $size: 12px;
    @include Custom_responsive_from_a_list($fds2_cercle);
    background-color: $blanc_principale;
    border: 2px solid $couleur_principale;
    margin-right: $marge_small/2;
    padding-left: $marge_small/2; padding-right: $marge_small/2;
  }
}





$fds2_fontsizes: (
  //@include fontsize
  //$fontsize, $lineheight
  null  : (30px, 30px),
  small : (30px, 30px),
  medium: (30px, 30px),
  large : (30px, 30px),
);

$fds2_cercle: (
    "null"  : (
      "border-radius": 10px,
      "width":  20px,
      "height":  20px,
    ),
    "small": (
      "border-radius": 10px,
      "width":  20px,
      "height":  20px,
    ),
    "medium": (
      "border-radius": 10px,
      "width":  20px,
      "height":  20px,
    ),
    "large" : (
      "border-radius": 10px,
      "width":  20px,
      "height":  20px,
    ),
);

$fds2_soulignement: (
  //@include soulignement
  //$epaisseur, $colorimetrie, $distance
  null  : (15px, red, -3px),
  small : (6px, blue, -3px),
  medium: (3px, yellow, -3px),
  large : (1px, orange, -3px),
);

$fds2_exposant: (
  //@include exposant
  //$pourcentage_taille, $distancetop
  null  : (20%, -3px),
  small : (20%, -3px),
  medium: (80%, -3px),
  large : (40%, -3px),
);

$fds2_surlignement: (
  //@include surlignement
  //$paddingleft, $paddingright, $color
  null  : (19px, 19px, pink),
  small : (19px, 19px, yellow),
  medium: (19px, 19px, blue ),
  large : (19px, 19px, pink),
);

$fds2_barre: (
  //@include surlignement
  //$epaisseur_barre, $distance_barre, $padding_left, $padding_right
  null  : (2px, 10px, 3px, 3px),
  small : (2px, 10px, 3px, 3px),
  medium: (10px, 9.3px, 10px, 10px),
  large : (2px, 10px, 3px, 3px),
);
