@import "../ASB.scss";

// feuille de style typographique 3
// petit texte de description
@mixin fds2_typo_3 {
  @include lisibilite;
  @include fontsize($fds3_fontsizes);
  font-family: arial;
  color: $blue;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

// margin typo

$fds3_fontsizes: (
  //@include fontsize
  //$fontsize, $lineheight
  null  : (12px, 13px),
  small : (12px, 13px),
  medium: (12px, 13px),
  large : (12px, 13px),
);

$fds3_soulignement: (
  //@include soulignement
  //$epaisseur, $colorimetrie, $distance
  null  : (15px, red, -3px),
  small : (6px, blue, -3px),
  medium: (3px, yellow, -3px),
  large : (1px, orange, -3px),
);

$fds3_exposant: (
  //@include exposant
  //$pourcentage_taille, $distancetop
  null  : (20%, -3px),
  small : (20%, -3px),
  medium: (80%, -3px),
  large : (40%, -3px),
);

$fds3_surlignement: (
  //@include surlignement
  //$paddingleft, $paddingright, $color
  null  : (19px, 19px, pink),
  small : (19px, 19px, yellow),
  medium: (19px, 19px, blue ),
  large : (19px, 19px, pink),
);

$fds3_barre: (
  //@include surlignement
  //$epaisseur_barre, $distance_barre, $padding_left, $padding_right
  null  : (2px, 10px, 3px, 3px),
  small : (2px, 10px, 3px, 3px),
  medium: (10px, 9.3px, 10px, 10px),
  large : (2px, 10px, 3px, 3px),
);
