@import "../ASB.scss";

// feuille de style typographique 2 : LIEN
@mixin fds2_typo_2 {
  @include lisibilite;
  @include fontsize($fds2_fontsizes);
  font-family: times;
  color: $blue;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

$fds2_fontsizes: (
  //@include fontsize
  //$fontsize, $lineheight
  null  : (20px, 20px),
  small : (20px, 20px),
  medium: (20px, 20px),
  large : (20px, 20px),
);

$fds2_soulignement: (
  //@include soulignement
  //$epaisseur, $colorimetrie, $distance
  null  : (15px, red, -3px),
  small : (6px, blue, -3px),
  medium: (3px, yellow, -3px),
  large : (1px, orange, -3px),
);

$fds2_exposant: (
  //@include exposant
  //$pourcentage_taille, $distancetop
  null  : (20%, -3px),
  small : (20%, -3px),
  medium: (80%, -3px),
  large : (40%, -3px),
);

$fds2_surlignement: (
  //@include surlignement
  //$paddingleft, $paddingright, $color
  null  : (19px, 19px, pink),
  small : (19px, 19px, yellow),
  medium: (19px, 19px, blue ),
  large : (19px, 19px, pink),
);

$fds2_barre: (
  //@include surlignement
  //$epaisseur_barre, $distance_barre, $padding_left, $padding_right
  null  : (2px, 10px, 3px, 3px),
  small : (2px, 10px, 3px, 3px),
  medium: (10px, 9.3px, 10px, 10px),
  large : (2px, 10px, 3px, 3px),
);
