@import "../ASB.scss";


@mixin liste_ol {
  ol.liste {
    width: 100%;
            list-style-type: none;
            counter-reset: compteListe;
            li{
              display: block;
              margin-left: 40px;
                &:before{
                  @include ol_li_before(40px, compteListe);

                }
            }

          }
      }

@mixin custom_appellation_description {
  ul.liste_appellation_description {
    @include liste_appellation_description($fds_liste_2);
    @include fds_typo_5($stack2);
    li .appellation {
            text-transform: lowercase;
        }
        .lowercase {text-transform: lowercase; };
    .description {a { @include petit_lien;} }
    }
    a { display: block; text-decoration: none; @include petit_lien;}
  }


$fds_liste: (
  //@include liste_appellation_description
  //$colgauche, $colgauche
  null  : (40%, 60%),
  small : (40%, 60%),
  medium: (40%, 60%),
  large : (40%, 60%),
);


$fds_liste_2: (
  //@include liste_appellation_description
  //$colgauche, $colgauche
  null  : ($tabulation, calc(100% - #{$tabulation})),
  small : ($tabulation, calc(100% - #{$tabulation})),
  medium: ($tabulation, calc(100% - #{$tabulation})),
  large : ($tabulation, calc(100% - #{$tabulation})),
);
