@import "../ASB.scss";

// feuille de style typographique 3
// petit texte de description
@mixin fds2_typo_3 {
  @include lisibilite;
  @include fontsize($fds_3_fontsizes);
  font-family: arial;
  color: $ASB_green;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
@mixin fds2_typo_3_bold {
  font-weight: bold !important;
  @include fds2_typo_3;
}
@mixin fds_typo_3_link {
  @include fds2_typo_3;
}

@mixin fds_typo_3_blanc {
  @include lisibilite;
  @include fontsize($fds_3_fontsizes);
  font-family: arial;
  color: $negatif_text;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
@mixin fds_typo_3_link {
  color: $white !important;
  @include fds2_typo_3;
}

@mixin fds_typo_3_color_link {
  @include lisibilite;
  @include fontsize($fds_3_fontsizes);
  font-family: arial;
  text-decoration: none;
  color: $ASB_green !important;
  font-weight: normal;
  font-style: normal;
  &:hover {
    color: $hover !important;
    &::before {
      background-color: $couleur_principale;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    $size: 12px;
    @include Custom_responsive_from_a_list($fds3_cercle);
    background-color: $fond_bloc;
    border: 1px solid $couleur_principale;
    margin-right: $marge_small/2;
    padding-left: $marge_small/2; padding-right: $marge_small/2;
  }
}


@mixin petit_lien {
  &.active {
    &::before {background-color: $couleur_principale !important;}
    &:hover  {
      &::before {background-color: $hover !important;}
    }
  }
  @include lisibilite;
  @include fontsize($fds_3_fontsizes);
  font-family: arial;
  text-decoration: none;
  color: $couleur_principale !important;
  font-weight: normal;
  font-style: normal;
  &:hover {
    color: $hover !important;
    &::before {
      background-color: $hover;
      border: 2px solid $hover;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    $size: 12px;
    @include Custom_responsive_from_a_list($fds2_cercle);
    background-color: $blanc_principale;
    border: 2px solid $couleur_principale;
    margin-left: $marge_small/2;
    margin-right: $marge_small/2;
    padding-left: $marge_small/2; padding-right: $marge_small/2;
  }
}

// margin typo
$fds3_cercle: (
    "null"  : (
      "border-radius": 5px,
      "width":  10px,
      "height":  10px,
    ),
    "small": (
      "border-radius": 5px,
      "width":  10px,
      "height":  10px,
    ),
    "medium": (
      "border-radius": 5px,
      "width":  10px,
      "height":  10px,
    ),
    "large" : (
      "border-radius": 5px,
      "width":  10px,
      "height":  10px,
    ),
);

//PETIT TEXTE SHOP ET SOMMET ABOUT
$fds_3_fontsizes: (
  //@include fontsize
  //$fontsize, $lineheight
  null  : (13px, 15px),
  small : (13px, 15px),
  medium: (13px, 15px),
  large : (13px, 15px),
);



$fds3_soulignement: (
  //@include soulignement
  //$epaisseur, $colorimetrie, $distance
  null  : (15px, red, -3px),
  small : (6px, blue, -3px),
  medium: (3px, yellow, -3px),
  large : (1px, orange, -3px),
);

$fds3_exposant: (
  //@include exposant
  //$pourcentage_taille, $distancetop
  null  : (20%, -3px),
  small : (20%, -3px),
  medium: (80%, -3px),
  large : (40%, -3px),
);

$fds3_surlignement: (
  //@include surlignement
  //$paddingleft, $paddingright, $color
  null  : (19px, 19px, pink),
  small : (19px, 19px, yellow),
  medium: (19px, 19px, blue ),
  large : (19px, 19px, pink),
);

$fds3_barre: (
  //@include surlignement
  //$epaisseur_barre, $distance_barre, $padding_left, $padding_right
  null  : (2px, 10px, 3px, 3px),
  small : (2px, 10px, 3px, 3px),
  medium: (10px, 9.3px, 10px, 10px),
  large : (2px, 10px, 3px, 3px),
);
