.layout {
    .col_left {

      z-index: 9999;
      background-color: $couleur_fond;
      @include grid_it_large(2, 1);
      @include grid_it_medium(2, 1);
      @include grid_it_small(3, 2);

      @include responsive_margin
      ( 0 0 0 $marge_small,
        0 0 0 $marge_medium,
        0 0 0 $marge_large);
    H3 {
      text-align: center;
      @include fds_typo_1;
      @include responsive_padding
      ( $marge_small 0 $marge_small 0,
        $marge_medium 0 $marge_medium 0,
        $marge_large 0 $marge_large 0);
    }
    p.col {
       @include fds2_typo_2;
       text-align: left;
       column-gap: 2rem;
    }
    p.center {
      text-align: center;
    }
    p {
       @include fds2_typo_2;
       @include responsive_padding
       ( 0 0 $marge_small 0, 0 0 $marge_medium 0, 0 0 $marge_large 0);
    }
    .identitedeux {
      text-align: center;
      @include responsive_padding
      ( 0 0  $marge_small 0 ,
        0 0 $marge_small 0 ,
        0 0 $marge_small 0 );
        a {
                text-decoration: none;
        }
    }
    .img_block {
      width: 100%;
      .img_presentation {
        @include responsive_padding(0 $marge_small/2 0 0, 0 $marge_small/2 0 0, 0 $marge_small/2 0 0);
      }
      .img_presentation_sec {
        float: left;
        @include responsive_padding(0 0 0 $marge_small/2, 0 0 0 $marge_small/2, 0 0 0 $marge_large/2);
      }
      .img_presentation, .img_presentation_sec {
        width: 50%;
        float: left;
        height: 50vw;
        position: relative;
        picture {
          img {
            width: 100%;
            cursor: crosshair;
            -webkit-filter: url(#traitement_couleur_1);
            -moz-filter: url(#traitement_couleur_1);
            -o-filter: url(#traitement_couleur_1);
            -ms-filter: url(#traitement_couleur_1) ;
            filter: url(#traitement_couleur_1) ;

            -webkit-transition: opacity .15s;
             -o-transition: opacity .5s;
             transition: opacity .5s;
                &:hover {
                 filter: none;
                 background-blend-mode: normal;
               }
          }
        }
      }
    }




  }
  .col_droite {
    width: 33.333%;
    float: right;
    right:0px;
    bottom: 0;
    position: fixed;
    height: 100vh;
    @include responsive_padding
    ( 0 $marge_small 0 0,
      0 $marge_medium 0 0,
      0 $marge_large 0 0);
    .content_right_bottom {
      @include positionbottom;
      @include responsive_padding
      ( 0 0 $marge_small 0,
        0 0 $marge_medium 0,
        0 0 $marge_large 0);
        ul {
        @include fds2_typo_2;
          a {  display: block; text-decoration: none;}
        }
}

  }
}
